[submodule "modules/juce-conan"]
	path = modules/juce-conan
	url = https://github.com/vvvar/juce-conan.git
[submodule "modules/pluginval-conan"]
	path = modules/pluginval-conan
	url = https://github.com/vvvar/pluginval-conan.git
