# MacOS indexing files
.DS_Store

# Build dir
/build

# Projucer auto-gen files
/JuceLibraryCode

# Releases dir
/Release/PeakEater.dmg
/Release/PeakEater.vst3
/Release/PeakEater.component

# Various vscode logs
/.vscode/*.log
