[submodule "Dependencies/JUCE"]
	path = Dependencies/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "Dependencies/sound_meter"]
	path = Dependencies/sound_meter
	url = https://github.com/SoundDevelopment/sound_meter.git
