# MacOS indexing files
.DS_Store

# Build dir
/build

# Projucer auto-gen files
/JuceLibraryCode

# Python cache
Scripts/Release/__pycache__

# node
node_modules

# Various vscode logs
/.vscode/*.log
