# MacOS indexing files
.DS_Store

# Build dir
/build
/test/build

CMakeUserPresets.json

# Projucer auto-gen files
/JuceLibraryCode

# Python cache
Scripts/Release/__pycache__

# node
node_modules

# Various vscode logs
/.vscode/*.log

# Env
.env
config/.env