<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<Product Id="*" UpgradeCode="12345678-1111-2222-3333-666666666666" Name="PeakEater" Version="0.6.2.0" Manufacturer="T-Audio" Language="1033">
    <Package InstallerVersion="200" InstallScope="perMachine" Compressed="yes" Comments="PeakEater is a free open-source VST3/AU waveshaper plugin"/>
    <MediaTemplate EmbedCab="yes" />

    <!-- Target directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
        <Directory Id="ProgramFiles64Folder">
            <Directory Id="CommonFiles64Folder">
                <Directory Id="TESTFILEPRODUCTDIR" Name="VST3">
                    <Component Id="ProductComponent" Win64="yes">
                        <File KeyPath="yes" Source="PeakEater.vst3"></File>
                    </Component>
                </Directory>
            </Directory>
        </Directory>
    </Directory>

    <!-- Installation steps -->
    <Feature Id="HelloWorldFeature">
      <ComponentRef Id="ProductComponent" />
    </Feature>

    <!-- Licensing file -->
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

    <!-- Custom icons -->
    <Icon Id="icon.ico" SourceFile="icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <WixVariable Id="WixUIDialogBmp" Value="banner_vertical.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="banner_horizontal.bmp" />
    <WixVariable Id="WixUIExclamationIco" Value="icon.ico" />
    <WixVariable Id="WixUIInfoIco" Value="icon.ico" />

    <!-- Use pre-compiled UI template(part of WixUIExtension) -->
    <Property Id="WIXUI_INSTALLDIR" Value="TESTFILEPRODUCTDIR" />
    <UIRef Id="WixUI_InstallDir" />

</Product>
</Wix>