git
jq
cmake
cppcheck
ninja-build
clang-format
clang-tidy
g++
libgtk-3-dev
libfreetype6-dev
libx11-dev
libxinerama-dev
libxrandr-dev
libxcursor-dev
mesa-common-dev
libasound2-dev
ladspa-sdk
freeglut3-dev 
libxcomposite-dev
libcurl4-openssl-dev
libwebkit2gtk-4.0-37
libwebkit2gtk-4.0-dev 